/*
 * Customization Variables
 */

$accent: #db273f;
$image-size: 100px; /* used to be 85 */

/* dark theme */
$background: #000000;
$text-color: #ffffff;
$border-color: #444444;
$accent-hover: lighten($accent, 20%);

/*
 * Build Variables, don't touch
 */

$max-width: 800px; /* used to be 700 */
$med-width: 600px;
$small-width: 480px;
