/*
 * Customization Variables
 */

$accent: #39bf5d;
$image-size: 150px; /* used to be 85 */

/* dark theme */
$background: #141414;
$text-color: #ffffff;
$border-color: #444444;
$accent-hover: lighten($accent, 20%);

/*
 * Build Variables, don't touch
 */

$max-width: 700px; /* used to be 700 */
$med-width: 600px;
$small-width: 480px;
